{% extends "base.html" %}
{% block stuff %}
<div class="row">
  <div class="col-xs-12 col-md-12">
    <h2>What's this about?</h2>

    <p>This is a live browser simulation of parasite and host
      co-evolution, turning them into sound in order to explore new ways
      of understanding natural processes. This is part of
      the <a href="http://people.exeter.ac.uk/mb437/">Ecology and
	Evolution of Infectious Disease research group</a> at
      the <a href="http://www.exeter.ac.uk/">University of Exeter</a> and
      was built by <a href="http://fo.am/kernow">FoAM Kernow</a><p>

    <p><a href="https://twitter.com/redkingrobot">Follow on twitter</a></p>

    <h2>A beginners guide to co-evolutionary dynamics</h2>

    <p>The graphs show the evolution of parasites and their hosts. The
      two organisms are reacting to each other as they evolve. Hosts
      evolve to become more resistant to their parasites, while
      parasites evolve to become better at infecting their
      hosts. There is a cost involved in being highly resistant, or
      highly infectious so the organism tend to inhabit sweet spots,
      which may change over time.
    </p>

    <p>This evolution can give rise to 'fixation' where one host and one
      parasite type settle on a stable strategy, branching where
      multiple strains of host or pathogen emerge and find stable
      strategies, or cycles of co-evolution where the host and parasite
      continue to evolve in an arms race against each other.
    </p>

    <h3>Things we don't understand</h3>
    <ul>
      <li>All the patterns of co-evolutionay relationship possible.</li>
      <li>What causes jumps from one pattern to the other.</li>
      <li>The best ways of understanding all the data we generate.</li>
    </ul>

    <h2>Sonification</h2>

    <p>Turning information into sound can be a way to experience patterns in
      data differently in order to gain new insights.<p>

    <p>Here we are still experimenting with different ways of doing this,
      combining rhythmic and pitch changes to focus on what we are
      interested in.<p>

    <p>At the moment, the rhythm corresponds to the number of strains of
      host and parasite – the more strains, the faster the rhythm – and the
      pitch corresponds to how resistant the host is and how infectious the
      parasite is. As evolution between the hosts and parasites progresses,
      snapshots are taken – the host and parasite status at that point in time
      are played as consecutive sounds.</p>

    <p>You can <a href="http://www.ambergriffiths.info/blog/a-first-look-into-data-sonification-apr-2016">
	read more about our research into sonfication here</a>.
    </p>

    <h2>Related projects</h2>
    <ul>
      <li><a href="http://fo.am/kayaks/">Sonic Kayaks: experiencing the hidden marine world through sound.</a></li>
      <li><a href="http://quantizer.media.mit.edu/">Quantizer: CERN high energy physics experienced through real-time audio.</a></li>
      <li><a href="https://soundcloud.com/esaops">ESA Operations: audio recordings from low Earth orbit to deep space.</a>
    </ul>

  </div>

</div>
{% endblock %}
