{% extends "base.html" %}

{% block stuff %}

{% if is_paginated %}
<div class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
    <a href="/?page={{ page_obj.previous_page_number }}"><<</a>
    {% endif %}
    <span class="page-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="/?page={{ page_obj.next_page_number }}">>></a>
    {% endif %}
  </span>
</div>
{% endif %}

<div class="row">
  <div class="col-xs-6">
    {% for sim in object_list %}
    <div class="sim" style="color:{{ sim.colour }};">
      <a href="/sim/{{ sim.id }}" style="float:right;">Completed: {{ sim.created_date }}</a>
      <p><img src="{{MEDIA_URL}}/sim/{{ sim.base_name }}.png" width="100%"/></p>
      <p>
      <audio controls>
        <source src="{{MEDIA_URL}}/sim/{{ sim.base_name }}.ogg" type="audio/ogg">
          your browser does not support audio...
      </audio>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/happy.png" height=20></div>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/horrible.png" height=20></div>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/bored.png" height=20></div>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/crazy.png" height=20></div>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/cool.png" height=20></div>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/shocked.png" height=20></div>
      </p>

<!--      <div class="grow">
        <p>Simulation details...</p>
        <p class="col-xs-2">MD5:</p>
        <p class="col-xs-10">{{ sim.base_name }}</p>
        <p class="col-xs-2">Length:</p>
        <p class="col-xs-10">{{ sim.length }} secs</p>
        <p class="col-xs-2">Parameters:</p>
        <p class="col-xs-10"><pre>{{ sim.params }}</pre></p>
      </div>
-->
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
