{% extends "base.html" %}

{% block stuff %}
<div class="row">
  <div class="col-xs-6">
    {% for sim in sims1 %}
    <div class="sim">
      <p>Created: {{ sim.created_date }}</p>
      <p><img src="{{MEDIA_URL}}/sim/{{ sim.base_name }}.png" width="100%"/></p>
      <audio controls>
        <source src="{{MEDIA_URL}}/sim/{{ sim.base_name }}.wav" type="audio/wav">
          your browser does not support audio...
      </audio>
    </div>
    {% endfor %}
  </div>
  <div class="col-xs-6">
    {% for sim in sims2 %}
    <div class="sim">
      <p>Created: {{ sim.created_date }}</p>
      <p><img src="{{MEDIA_URL}}/sim/{{ sim.base_name }}.png" width="100%"/></p>
      <audio controls>
        <source src="{{MEDIA_URL}}/sim/{{ sim.base_name }}.wav" type="audio/wav">
          your browser does not support audio...
      </audio>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
