{% extends "base.html" %}

{% block stuff %}
<div class="row">
  <div class="col-xs-12 col-md-6">
    <h2>What's this about?</h2>

    <p>I am a robot continually running simulations of parasite and host co-evolution, turning them into sound in order to explore new ways of understanding natural processes. I am part of the <a href="http://people.exeter.ac.uk/mb437/">Ecology and Evolution of Infectious Disease research group</a> at the <a href="http://www.exeter.ac.uk/">University of Exeter</a> and was built by <a href="http://fo.am/kernow">FoAM Kernow</a><p>

    <h2>A beginners guide to co-evolutionary dynamics</h2>

    <p>The graphs on the right show the evolution of a single genetic 'trait' for <span class="parasites">parasites</span> and their <span class="hosts">hosts</span>. The two organisms are locked together, reacting to each other as they evolve. For the hosts this trait describes how resistant they are to the parasites, for the parasites it's how infectious they are in the host. There is a cost involved in being highly infectious, or highly resistant - so strains of organism tend to inhabit sweet spots, which may change over time.

<p>This evolution can give rise to branching where multiple strains emerge, cyclic behaviour or more complex relationships.</p>

<h3>Things we don't understand</h3> 
<ul>
  <li>All the types, or patterns of relationship possible.</li>
  <li>What causes jumps from one pattern to the other.</li>
  <li>What are the best ways of gaining understandings from all the data we generate.</li>
</ul>

<!-- <h3>Patterns/Classifications</h3> 

We can classify possible situations into rough groupings.

<ul>
<li>Monomorphic: A single strain of both host and parasite, settled into a boring, static relationship.</li>
<li>Dimorphic: Two strains of either host and parasite.</li>
<li>Polymorphic: Multiple strains.....</li>
<li>Cyclic: Sometimes with multiple strains the situation can be unstable, resulting in cyclic patterns.</li>
<li>Other: Combinations of the above can sometimes be observed, cyclic patterns becoming stable for some time - or other more strange fluctuations.</li>
</ul> 
-->
<h2>Sonification</h2> 

<p>Turning information into sound can be a way to experience patterns in data differently in order to gain new insights.<p>

<p>Here we are still experimenting with different ways of doing this, combining rhythmic and tonal (frequency) changes to focus on what we are interested in.<p>

<h2>My Friends</h2>


<ul>
<li><a href="http://fo.am/kayaks/">Sonic Kayaks: experiencing the hidden marine world through sound.</a></li>
<li><a href="http://quantizer.media.mit.edu/">Quantizer: CERN high energy physics experienced through real-time audio.</a></li>
<li><a href="https://soundcloud.com/esaops">ESA Operations: audio recordings from low Earth orbit to deep space.</a>
</ul>
  
</div>

  <div class="col-xs-12 col-md-6">
    <h2>Latest live simulations</h2>

    {% if is_paginated %}
<div class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
    <a href="/?page={{ page_obj.previous_page_number }}"><<</a>
    {% endif %}
    <span class="page-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="/?page={{ page_obj.next_page_number }}">>></a>
    {% endif %}
  </span>
</div>
{% endif %}

    {% for sim in object_list %}
    <div class="sim" style="color:{{ sim.colour }};">
      Tag me:
      <a href="#">mono</a> |
      <a href="#">di</a> |
      <a href="#">poly</a> |
      <a href="#">cyclic</a> |
      <a href="#">other</a>
      <a href="/sim/{{ sim.id }}" style="float:right;">More info</a>
      <p><img src="{{MEDIA_URL}}/sim/{{ sim.base_name }}.png" width="100%"/></p>
      <p>
      <audio controls>
        <source src="{{MEDIA_URL}}/sim/{{ sim.base_name }}.ogg" type="audio/ogg">
          your browser does not support audio...
      </audio>
<!--      <div class="emoimage"><img src="{{MEDIA_URL}}/images/happy.png" height=20></div>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/horrible.png" height=20></div>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/bored.png" height=20></div>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/crazy.png" height=20></div>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/cool.png" height=20></div>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/shocked.png" height=20></div>
      </p> -->

<!--      <div class="grow">
        <p>Simulation details...</p>
        <p class="col-xs-2">MD5:</p>
        <p class="col-xs-10">{{ sim.base_name }}</p>
        <p class="col-xs-2">Length:</p>
        <p class="col-xs-10">{{ sim.length }} secs</p>
        <p class="col-xs-2">Parameters:</p>
        <p class="col-xs-10"><pre>{{ sim.params }}</pre></p>
      </div>
-->
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
