{% extends "base.html" %}

{% block stuff %}
<div class="row">
  <div class="col-xs-12 button-box">
    <button id='sim-button' onclick='button_sim_toggle();'>Sim: on</button> 
    <button id='reset-button' onclick='button_sim_reset();'>Restart</button>
    <button id='sound-button' onclick='button_sound_toggle();'>Sound: off</button>
    <button onclick='randomise_sim();'>Randomise</button>
  </div>


  <div class="col-sm-12 col-md-4 host">
    <div class="gutter">
      <h3>Host Options</h3>
      <div class="col-sm-6 col-md-6">
	Cost strength: <div id="host-cost-num" class="slider-num">10</div>
	<input id="host-cost" type="range"/>
	Cost curve: <div id="host-curve-num" class="slider-num">10</div>
	<input id="host-curve" type="range"/>
	Recovery rate: <div id="host-recovery-num" class="slider-num">10</div>
	<input id="host-recovery" type="range"/>
      </div>
      <div class="col-sm-6 col-md-6">
	<canvas id="host_tradeoff_canvas" class="live-graph" width=100 height=100></canvas>
      </div>  
    </div>
  </div>

  <div class="col-sm-12 col-md-4 parasite">
    <div class="gutter">
    <h3>Transmission Function</h3>
      <div class="col-sm-6">

	<section class="radio_section">
	  <div class="radio_container">
	    <input type="radio" name="function-type" id="function-type-universal">
	    <label for="function-type-universal"><span class="radio">Universal</span></label>
	  </div>
	  <div class="radio_container">
	    <input type="radio" name="function-type" id="function-type-range" checked="true">
	    <label for="function-type-range"><span class="radio">Range</span></label>
	  </div>
	  <div class="radio_container">
	    <input type="radio" name="function-type" id="function-type-matching">
	    <label for="function-type-matching"><span class="radio">Matching</span></label>
	  </div>
	</section>

	Shape 1:<div id="transmission-shape1-num" class="slider-num">10</div>
	<input id="transmission-shape1" type="range"/>
	Shape 2:<div id="transmission-shape2-num" class="slider-num">10</div>
	<input id="transmission-shape2" type="range"/>
      
      </div>
      <div class="col-sm-6">
	<canvas id="matrix_canvas" class="live-graph" width=100 height=100></canvas>
	<canvas id="heatmap_canvas" class="live-graph" width=100 height=100></canvas>
      </div>
    </div>
  </div>
  
  <div class="col-sm-12 col-md-4 parasite">
    <div class="gutter">
      <h3>Parasite Options</h3>
      <div class="col-sm-6 col-md-6">
	Cost strength:<div id="parasite-cost-num" class="slider-num">10</div>
	<input id="parasite-cost" type="range"/>
	Cost curve:<div id="parasite-curve-num" class="slider-num">10</div>
	<input id="parasite-curve" type="range"/>
	Mortality rate:<div id="parasite-mortality-num" class="slider-num">10</div>
	<input id="parasite-mortality" type="range"/>
	Transmission rate:<div id="parasite-transmission-num" class="slider-num">10</div>
	<input id="parasite-transmission" type="range"/>
	Sterility:<div id="parasite-sterility-num" class="slider-num">10</div>
	<input id="parasite-sterility" type="range"/>
	<section class="radio_section">
	  <div class="radio_container">
	    <input type="radio" name="parasite-type" id="parasite-type-trans" checked="true">
	    <label for="parasite-type-trans"><span class="radio">Transmission</span></label>
	  </div>
	  <div class="radio_container">
	    <input type="radio" name="parasite-type" id="parasite-type-vir">
	    <label for="parasite-type-vir"><span class="radio">Virulence</span></label>
	  </div>
	</section>
	
      </div>
      
      <div class="col-sm-6 col-md-6">
	<canvas id="parasite_tradeoff_canvas" class="live-graph" width=100 height=100></canvas>
      </div>
      
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-7" style="text-align: center;">
    Evolutionary time ->
  </div>
  <div class="col-sm-12 col-md-7">
    <div class="col-xs-12">
      <div class="overlay sim-title"><h4>Parasites</h4></div>
      <div id="parasite-extinct" class="overlay sim-extinct"><h1>Parasites are extinct</h1></div>
      <div class="rotate overlay sim-text">Parasite trait</div>
      <canvas id="ycanvas" class="sim-graph" width=500 height=100></canvas>
    </div>
    <div class="col-xs-12">
      <div class="overlay sim-title"><h4>Hosts</h4></div>
      <div class="rotate-host overlay sim-text">Host trait</div>
      <div id="host-extinct" class="overlay sim-extinct"><h1>Hosts are extinct</h1></div>
      <canvas id="xcanvas" class="sim-graph" width=500 height=100></canvas>
    </div>
    <div class="col-xs-12">
      <div class="overlay sim-title"><h4>Infection</h4></div>
      <div class="rotate overlay sim-text">Infection level</div>
      <canvas id="icanvas" class="sim-graph" width=500 height=100></canvas>
    </div>
  </div>
  <div class="col-sm-12 col-md-5">
    <div class="row">
      <div id="catalt" class="gutter">
	<h3 style="width:50%; margin:auto;">Ready in <span id="cattimer">??</span> seconds</h3>
      </div>

      <div id="catthank" class="gutter" style="top: 0px; position: absolute;">
	<h3>Thank you for contributing</h3>
      </div>

      <div id="catbox" class="gutter" style="top: 0px; position: absolute;">
	<h3>Categorise me</h3>
	<div class="col-sm-12 col-md-6 host">
	  <h3>Host</h3>
	  <section class="radio_section">
	    <div class="radio_container">
	      <input type="checkbox" name="cat" id="cat-h-cycling">
	      <label for="cat-h-cycling"><span class="checkbox">Cycling</span></label>
	    </div>
	    <div class="radio_container">
	      <input type="checkbox" name="cat" id="cat-h-single">
	      <label for="cat-h-single"><span class="checkbox">Single host</span></label>
	    </div>
	    <div class="radio_container">
	      <input type="checkbox" name="cat" id="cat-h-many">
	      <label for="cat-h-many"><span class="checkbox">Many hosts</span></label>
	    </div>
	    <div class="radio_container">
	      <input type="checkbox" name="cat" id="cat-h-strange">
	      <label for="cat-h-strange"><span class="checkbox">Strange</span></label>
	    </div>
	  </section>
	</div>
	<div class="col-sm-12 col-md-6 parasite">
	  <h3>Parasite</h3>
	  <section class="radio_section">
	    <div class="radio_container">
	      <input type="checkbox" name="cat" id="cat-p-cycling">
	      <label for="cat-p-cycling"><span class="checkbox">Cycling</span></label>
	    </div>
	    <div class="radio_container">
	      <input type="checkbox" name="cat" id="cat-p-single">
	      <label for="cat-p-single"><span class="checkbox">Single parasite</span></label>
	    </div>
	    <div class="radio_container">
	      <input type="checkbox" name="cat" id="cat-p-many">
	      <label for="cat-p-many"><span class="checkbox">Many parasites</span></label>
	    </div>
	    <div class="radio_container">
	      <input type="checkbox" name="cat" id="cat-p-strange">
	      <label for="cat-p-strange"><span class="checkbox">Strange</span></label>
	    </div>
	  </section>
	</div>
	<div class="col-xs-2 col-xs-offset-4">
	  <button onclick='button_save();'>Save</button>
	</div>
      </div>      
    </div>
  </div>
</div>

<script src="{{MEDIA_URL}}js/buffer_loader.js"></script>
<script src="{{MEDIA_URL}}js/strain.js"></script>
<script src="{{MEDIA_URL}}js/music.js"></script>
<script src="{{MEDIA_URL}}js/utils.js"></script> 
<script src="{{MEDIA_URL}}js/range-v2.js"></script> 
<script src="{{MEDIA_URL}}js/live.js"></script>

<script>
$( document ).ready(function() {

///////////////////////////////////////////////////////////
// sim callbacks - tweak the globals!

connect_slider("#host-cost", function(v) { CH1 = v; return CH1; });
connect_slider("#host-recovery", function(v) { GAMMA = v; return GAMMA; });
connect_slider("#host-curve", function(v) { 
  v = (v-0.5)*2; 
  v = v*10; 
  CH2 = v*v;
  if (v<0) CH2=-CH2;
  return CH2;
});

connect_slider("#transmission-shape1", function(v) { 
  v*=10; v=v*v+0.1;
  // we can set these all as they are independant
  K0=v;
  K1=v;
  K3=v;
  return v;
});

connect_slider("#transmission-shape2", function(v) { 
  v*=10; v=v*v+0.1;
  K2=v;
  return K2;
});

// todo: change CP2 range
connect_checkbox("#function-type-universal", function(v) { transmission_function="universal"; });
connect_checkbox("#function-type-range", function(v) { transmission_function="range"; });
connect_checkbox("#function-type-matching", function(v) { transmission_function="matching"; });

connect_checkbox("#parasite-type-trans", function(v) { transmission_type="transmission"; });
connect_checkbox("#parasite-type-vir", function(v) { transmission_type="virulence"; });

button_on('#sim-button','Sim: on');
//button_on('#sound-button','Sound: on');

connect_slider("#parasite-mortality", function(v) { ALPHA = v; update_slider_num("#parasite-mortality",ALPHA); return ALPHA; });
connect_slider("#parasite-transmission", function(v) { BETA=lerp(ALPHA+GAMMA+B,10*(ALPHA+GAMMA+B),v); return BETA; });
connect_slider("#parasite-sterility", function(v) { F = v; return F; });

connect_slider("#parasite-cost", function(v) { CP1 = v; return CP1; });

connect_slider("#parasite-curve", function(v) { 
  v = (v-0.5)*2; 
  v = v*10; 
  CP2 = v*v;
  if (v<0) CP2=-CP2;
  return CP2;
});

//////////////////////////////////////////////////////////

{% if livesim %}
var sim_data = {"param_host_cost":{{livesim.param_host_cost}},
	   "param_host_recovery":{{livesim.param_host_recovery}},
	   "param_host_curve":{{livesim.param_host_curve}},
	   "param_transmission_type":{{livesim.param_transmission_type}},
	   "param_transmission_shape1":{{livesim.param_transmission_shape1}},
	   "param_transmission_shape2":{{livesim.param_transmission_shape2}},
	   "param_parasite_cost":{{livesim.param_parasite_cost}},
	   "param_parasite_curve":{{livesim.param_parasite_curve}},
	   "param_parasite_mortality":{{livesim.param_parasite_mortality}},
	   "param_parasite_transmission":{{livesim.param_parasite_transmission}},
	   "param_parasite_sterility":{{livesim.param_parasite_sterility}},
	   "param_parasite_type":{{livesim.param_parasite_type}},	   
	   "cat_host_cycling":{{livesim.cat_host_cycling}},
	   "cat_host_single":{{livesim.cat_host_single}},
	   "cat_host_many":{{livesim.cat_host_many}},
	   "cat_host_strange":{{livesim.cat_host_strange}},
	   "cat_parasite_cycling":{{livesim.cat_parasite_cycling}},
	   "cat_parasite_single":{{livesim.cat_parasite_single}},
	   "cat_parasite_many":{{livesim.cat_parasite_many}},
	   "cat_parasite_strange":{{livesim.cat_parasite_strange}}};
  load_sim(sim_data);
{% else %}
  randomise_sim();
{% endif %}
  sim.running=true;
  sim.init();

});
</script>

{% endblock %}
