{% extends "base.html" %}
{% block stuff %}

<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="gutter">
      <h3>Host Options</h3>

      <div class="col-sm-6 col-md-6 params">
	Immunity
	<section class="radio_section">
	  <div class="radio_container">
	    <input type="radio" name="immunity" id="immunity-none">
	    <label for="immunity-none"><span class="radio">None</span></label>
	  </div>
	  <div class="radio_container">
	    <input type="radio" name="immunity" id="immunity-some">
	    <label for="immunity-some"><span class="radio">Some</span></label>
	  </div>
	</section>
	Carriers<input id="carrier" type="range"/>
	Cost curve<input id="host-curve" type="range"/>
      </div>
      <div class="col-sm-6 col-md-6">
	<canvas id="host_tradeoff_canvas" class="live-graph" width=100 height=100></canvas>
      </div>  
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="gutter">
      <h3>Transmission Function</h3>
      <div class="col-sm-6 params">

	<section class="radio_section">
	  <div class="radio_container">
	    <input type="radio" name="function-type" id="function-type-universal">
	    <label for="function-type-universal"><span class="radio">Universal</span></label>
	  </div>
	  <div class="radio_container">
	    <input type="radio" name="function-type" id="function-type-range">
	    <label for="function-type-range"><span class="radio">Range</span></label>
	  </div>
	  <div class="radio_container">
	    <input type="radio" name="function-type" id="function-type-matching">
	    <label for="function-type-matching"><span class="radio">Matching</span></label>
	  </div>
	</section>
      
      </div>
      <div class="col-sm-6">
	<canvas id="matrix_canvas" class="live-graph" width=100 height=100></canvas>
      </div>
    </div>
    <div class="gutter">
	<button id='sim-button' onclick='button_sim_toggle();'>Sim: on</button> 
	<button id='reset-button' onclick='button_sim_reset();'>Restart</button>
	<button id='sound-button' onclick='button_sound_toggle();'>Sound: on</button>
    </div>
  </div>
  
  <div class="col-sm-12 col-md-4">
    <div class="gutter">
      <h3>Parasite Options</h3>
      
      <div class="col-sm-7 col-md-7">
	Transmission

	<section class="radio_section">
	  <div class="radio_container">
	    <input type="radio" name="transmission" id="transmission-direct">
	    <label for="transmission-direct"><span class="radio">Direct</span></label>
	  </div>
	  <div class="radio_container">
	    <input type="radio" name="transmission" id="transmission-free">
	    <label for="transmission-free"><span class="radio">Free</span></label>
	  </div>
	</section>
	Cost curve<input id="parasite-curve" type="range"/>
      </div>
      
      <div class="col-sm-5 col-md-5 params">
	<canvas id="parasite_tradeoff_canvas" class="live-graph" width=100 height=100></canvas>
      </div>

      <section class="radio_section">
	<div class="radio_container">
	  <input type="radio" name="parasite-type" id="parasite-type-trans">
	  <label for="parasite-type-trans"><span class="radio">Transmission</span></label>
	</div>
	<div class="radio_container">
	  <input type="radio" name="parasite-type" id="parasite-type-vir">
	  <label for="parasite-type-vir"><span class="radio">Virulence</span></label>
	</div>
      </section>
      
    </div>
  </div>
</div>

<div class="row">
<div class="col-sm-12">
  <div class="gutter">
    <div class="col-sm-12 col-md-6">
      <div class="row">
	<canvas id="xcanvas" class="live-graph" width=500 height=100></canvas>
      </div>
      <div class="row">      
	<canvas id="ycanvas" class="live-graph" width=500 height=100></canvas>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      Number of hosts...
    </div>
  </div>
</div>
<script src="{{MEDIA_URL}}js/buffer_loader.js"></script>
<script src="{{MEDIA_URL}}js/strain.js"></script>
<script src="{{MEDIA_URL}}js/music.js"></script>
<script src="{{MEDIA_URL}}js/utils.js"></script> 
<script src="{{MEDIA_URL}}js/range-v2.js"></script> 
<script src="{{MEDIA_URL}}js/live.js"></script>

{% endblock %}
