{% extends "base.html" %}

{% block stuff %}

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h2>Sim completed on {{ sim.created_date }}</h2>

    <div class="sim" style="color:{{ sim.colour }};">
      <p><img src="{{MEDIA_URL}}/sim/{{ sim.base_name }}.png" width="100%"/></p>
      <p>
      <audio controls>
        <source src="{{MEDIA_URL}}/sim/{{ sim.base_name }}.ogg" type="audio/ogg">
          your browser does not support audio...
      </audio>

<!--      <p>
      Tag me:
      <a href="#">mono</a>
      <a href="#">di</a> |
      <a href="#">poly</a> |
      <a href="#">cyclic</a> |
      <a href="#">other</a>
      </p> -->

<!--
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/happy.png" height=20></div>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/horrible.png" height=20></div>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/bored.png" height=20></div>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/crazy.png" height=20></div>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/cool.png" height=20></div>
      <div class="emoimage"><img src="{{MEDIA_URL}}/images/shocked.png" height=20></div>
-->
      </p>
 
        <p>Simulation details</p>
        <p class="col-xs-2">MD5:</p>
        <p class="col-xs-10">{{ sim.base_name }}</p>
        <p class="col-xs-2">Length:</p>
        <p class="col-xs-10">{{ sim.length }} secs</p>
        <p class="col-xs-2">Parameters:</p>
        <p class="col-xs-10"><pre>{{ sim.params }}</pre></p>

<!--      <p>
        <p>Tag counts for this simulation run:</p>
        <p class="col-xs-2">mono:</p>
        <p class="col-xs-10">0</p>
        <p class="col-xs-2">di:</p>
        <p class="col-xs-10">1</p>
        <p class="col-xs-2">poly:</p>
        <p class="col-xs-10">2</p>
        <p class="col-xs-2">cyclic:</p>
        <p class="col-xs-10">3</p>
        <p class="col-xs-2">other:</p>
        <p class="col-xs-10">4</p>
      </p>
-->
    </div>

  </div>


  <div class="col-xs-12 col-md-6">
    <h2>What's this about?</h2>

    <p>I am a robot continually running simulations of parasite and host co-evolution, turning them into sound in order to explore new ways of understanding natural processes. I am part of the <a href="http://people.exeter.ac.uk/mb437/">Ecology and Evolution of Infectious Disease research group</a> at the <a href="http://www.exeter.ac.uk/">University of Exeter</a> and was built by <a href="http://fo.am/kernow">FoAM Kernow</a><p>

      <p>See the <a href="/">main page for more info.</a></p>
</div>


</div>
{% endblock %}
