{% extends "base.html" %}

{% block stuff %}
<div class="row">
  <div class="col-xs-12 col-md-6">
    <h2>Sim completed on {{ sim.created_date }}</h2>
    <div class="sim" style="color:{{ sim.colour }};">
      <p><img src="{{MEDIA_URL}}/sim/{{ sim.base_name }}.png" width="100%"/></p>
      <p>
        <div class="row">
          <audio class="col-xs-9" controls>
            <source src="{{MEDIA_URL}}/sim/{{ sim.base_name }}.mp3" type="audio/mp3">
              your browser does not support audio...
          </audio>
          <div class="col-xs-3">
            <!-- {{ csrf_token }} -->
            <button id="upvote-{{ sim.id }}" class="upvote" onclick='$.post("/up/", { id: {{ sim.id }} }, function(response) { upvote(response,{{ sim.id }}); });'></button>
            <div id="score-{{ sim.id }}" class="score">{{ score }}</div>
            <button id="downvote-{{ sim.id }}" class="downvote" onclick='$.post("/down/", { id: {{ sim.id }} }, function(response) { downvote(response,{{ sim.id }}); });'></button>
          </div>
        </div>
      </p>

        <p>Simulation details</p>
        <p class="col-xs-3">MD5 ID:</p>
        <p class="col-xs-9">{{ sim.base_name }}</p>
        {% if sim.parent %}
        <p class="col-xs-3">Parent ID:</p>
        <p class="col-xs-9"><a href="/sim/{{ sim.parent.id }}">{{ sim.parent.base_name }}</a></p>
        {% endif %}
        <p class="col-xs-3">Length:</p>
        <p class="col-xs-9">{{ sim.length }} secs</p>
        <p class="col-xs-3">Upvotes:</p>
        <p class="col-xs-9">{{ sim.upvotes }}</p>
        <p class="col-xs-3">Downvotes:</p>
        <p class="col-xs-9">{{ sim.downvotes }}</p>
        <p class="col-xs-3">Parameters:</p>
        <p class="col-xs-9"><pre>{{ sim.params }}</pre></p>
<!--        <p class="col-xs-3">Likes:</p>
        <p class="col-xs-9">{{ sim.twitter_likes }}</p>
        <p class="col-xs-3">RTs:</p>
        <p class="col-xs-9">{{ sim.twitter_retweets }}</p> -->

    </div>

  </div>


  <div class="col-xs-12 col-md-6">
    <h2>What's this about?</h2>

    <p>I am a robot continually running simulations of parasite and host co-evolution, turning them into sound in order to explore new ways of understanding natural processes. I am part of the <a href="http://people.exeter.ac.uk/mb437/">Ecology and Evolution of Infectious Disease research group</a> at the <a href="http://www.exeter.ac.uk/">University of Exeter</a> and was built by <a href="http://fo.am/kernow">FoAM Kernow</a><p>

      <p>See the <a href="/">main page for more info.</a></p>
</div>


</div>
{% endblock %}
