body {
    font-family: 'Maven+Pro', sans-serif;
    font-size: 150%;
/*    color: #ffe400; */
    color: #777244;
    background: white;
}

a:link {
    color: #ff8400;
}

a:visited {
    color: #ff8400;
}

pre {
    color: #fe647e;
    margin-left: 12em;
}

.sim {
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

h2 {
    margin-top: 0.1em;
}

h3 {
    margin-top: 0.2em;
}

.title {
    text-align: center;
}

.title .strap {
    font-size: 75%;
}

.title-row {
    margin-bottom: 0.5em;
}

.parasites { color: #ff8400; }
.hosts { color: #6fb3c8; }
/*.parasite div { background: #ffe460; }
.host div { background: #cfffff; }
.output div { 
    background: #f4f4f4; 
}
*/

.title-text {
    size: 400%;
}

.banner1 {
    background: url('../images/banner1.png');
    background-size: 100%;
    height: 4em;
}

.banner2 {
    background: url('../images/banner2.png');
    background-size: 100%;
    height: 4em;
}

.emoimage {
    display:inline-block;
}

#result {
    left: -3.2em;
    width: 2.5em;
    height: 1.5em;
    background-color: white;
    border-radius: 50px;
    display:inline-block;
}

.emoimage:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}


.grow {
    height: 1.3em;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    overflow: hidden;
}

.grow:hover {
    height: 20em;
}

/*#ffe400
#ff8400
#fe647e
#6fb3c8 */

.upvote {
    border: none;
    background: none;
    background-image: url(/media/images/up.png);
    background-size: 100%;
    width: 20px;
    height: 20px;
}

.downvote {
    border: none;
    background: none;
    background-image: url(/media/images/down.png);
    background-size: 100%;
    width: 20px;
    height: 20px;
}

.score {
    margin: 0;
    padding-left: 5px;
    background: none;
    border: 2px solid #ff8400;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

/* live section */

.live-graph {
    border-radius: 12px;
    border: 1px solid black;
}

.gutter {
    border: 1px solid black;
    border-radius: 25px;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0.5em;
    display: block;
    overflow: hidden;
    background: white;
    text-align: center;
}

.button-box {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    display: block;
    overflow: hidden;
    background: none; 
    text-align: center;
}


input[type=radio] {
    margin-left: 0.2em;
    margin-right: 0.5em;
}

.params {
    text-align: center;
    margin-bottom: 1em;
}

button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid black; 
    border-radius: 15px;
    overflow: hidden;
    background: white;
}

button:focus {
    outline:0;
}

button:hover {
    background: gray;
    color: white;
}

.contribute button {
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 15px;
    overflow: hidden;
    background: green;
    font-size: 200%;
    border: 0px solid black; 
}

.contribute button:hover {
    background: white;
    color: green;
    border: 2px solid green; 
}

/* ----------------------------------------------- */
/* clear range styles */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* ----------------------------------------------- */
/* actual style */

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 0.5em;
  background: black;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  height: 1em;
  width: 1em;
  border-radius: 0.5em;
  background: white;
  cursor: pointer;
}

/*.host input[type=range]::-moz-range-thumb {  background: #6fb3c8; }
.host input[type=range]::-webkit-slider-thumb { background: #6fb3c8; } */
/*.host input[type=range] { background: #6fb3c8; }*/
/*.parasite input[type=range]::-moz-range-thumb { background: #ff8400; }
.parasite input[type=range]::-webkit-slider-thumb { background: #ff8400; } */
/*.parasite input[type=range] { background: #ff8400; }*/

/* track */

input[type=range] {
  width: 100%;
  height: 0.5em;
  cursor: pointer;
  background: #fff;
  border-radius: 1em;
  margin: 0.2em;
  border: 1px solid black;
}

/* checkboxes/radio buttons */

.radio_section {
    margin-left:3em;
    text-align: left;
}

.radio_container {
}

.radio_section input[type="radio"],
.radio_section input[type="checkbox"]{
  display: none;
}

.checkbox, .radio {
    margin: 0em;
}

.radio_container label {
  position: relative;
  font-weight: normal;
  padding: 0em;
}

.radio_container span::before,
.radio_container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.radio_container span.radio:hover {
  cursor: pointer;
}

.radio_container span.radio::before {
  left: -3.2em;
  width: 2.5em;
  height: 1.5em;
  background-color: white;
  border-radius: 50px;
  border: 1px solid black;
}

.radio_container span.radio::after {
  left: -3em;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background-color: black;
  transition: left .25s, background-color .25s;
}

input[type="radio"]:checked + label span.radio::after {
  left: -2em;
  background-color: black;
}

.host input[type="radio"]:checked + label span.radio::after {  background: black; }
.parasite input[type="radio"]:checked + label span.radio::after { background: black; }

/* checkboxes */
.radio_container span.checkbox::before {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.75em;
  background-color: #fff;
  left: -35px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border-color .2s;
  border: 1px solid black;
}

.radio_container span.checkbox:hover::before {
  border: 3px solid green;
}

.radio_container span.checkbox::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  left: -31px;
  top: 0px;
  color: transparent;
  transition: color .2s;
}

input[type="checkbox"]:checked + label span.checkbox::after {
  color: green;
}