body {
    font-family: 'Dosis', sans-serif;
    font-size: 200%;
/*    color: #ffe400; */
    color: #fff477;
    background: black;
}

a:link {
    color: #ff8400;
}

a:visited {
    color: #ff8400;
}

pre {
    color: #fe647e;
    background: black;
    margin-left: 12em;
}

.sim {
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    background: black;
}

audio {
    width: 100%;
}

.emoimage {
    display:inline-block;
}

.emoimage:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}


.grow {
    height: 1.3em;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    overflow: hidden;
}

.grow:hover {
    height: 20em;
}

.hosts { color: #6fb3c8; }
.parasites { color: #ff8400; }

/*#ffe400
#ff8400
#fe647e
#6fb3c8 */
