body {
    font-family: 'Maven+Pro', sans-serif;
    font-size: 200%;
/*    color: #ffe400; */
    color: #777244;
    background: url('../images/bg.png');
}

a:link {
    color: #ff8400;
}

a:visited {
    color: #ff8400;
}

pre {
    color: #fe647e;
    margin-left: 12em;
}

.sim {
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

h2 {
    margin-top: 0.1em;
}

audio {

}

.emoimage {
    display:inline-block;
}

.emoimage:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}


.grow {
    height: 1.3em;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    overflow: hidden;
}

.grow:hover {
    height: 20em;
}

.hosts { color: #6fb3c8; }
.parasites { color: #ff8400; }

/*#ffe400
#ff8400
#fe647e
#6fb3c8 */

.upvote {
    border: none;
    background: none;
    background-image: url(/media/images/up.png);
    background-size: 100%;
    width: 20px;
    height: 20px;
}

.downvote {
    border: none;
    background: none;
    background-image: url(/media/images/down.png);
    background-size: 100%;
    width: 20px;
    height: 20px;
}

.score {
    margin: 0;
    padding-left: 5px;
    background: none;
    border: 2px solid #ff8400;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

/* live section */

.live-graph {
    border: 2px dashed black; 
    margin: 0.5em;
    background: "white";
}

.gutter {
    border: 1px dashed black; 
    border-radius: 25px;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    display: block;
    overflow: hidden;
    background: white;
}

input[type=radio] {
    margin-left: 0.2em;
    margin-right: 0.5em;
}

.params {
    padding-top: 1em;
}