<!DOCTYPE html>
{% load i18n %}
<html lang="en">
  <head>
    <title>Red King web robot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>

    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet"> 
    <script src="{{ MEDIA_URL }}js/jquery-1.11.1.min.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery-ui.min.js"></script>
    <script src="{{ MEDIA_URL }}js/csrf.js"></script>
    <script src="{{ MEDIA_URL }}js/votes.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" />

    <div class="container">
      <header>
        <h1><a href="/">Red King</a></h1>
        Listening to co-evolution
      </header>
      <section class="content">
        {% block stuff %}{% endblock %}
      </section>
    </div>
  </body>
</html>
