<!DOCTYPE html>
{% load i18n %}
<html lang="en">
  <head>
    <title>red king web robot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <header>
      <h1>red king web robot</h1>
    </header>

    <script src="{{ MEDIA_URL }}js/jquery-1.11.1.min.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" />

    <div class="container">
      <section class="content">
        {% block stuff %}{% endblock %}
      </section>
    </div>
  </body>
</html>
